
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.hero-video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    z-index: 0;
}

/* HERO-LINKS */
.hero-links {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.links ul{
    display: flex;
    gap: 70px;
    list-style: none;
}

.links ul a{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.rolar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rolar ul a {
    color: #000;
}

.overlay {
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.45);
}

.hero-content {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 100px;
    font-weight: 300;
    text-transform: uppercase;
}

.word {
    position: absolute;

    color: #fff;
    font-size: clamp(40px, 7vw, 100px);
    font-weight: 600;

    opacity: 0;
}

/* MAIN */

main {
    height: 40vh;
    background-color: #E2DACA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.text h1 {
    font-size: 100px;
    
    font-weight: 400;
}

.text p {
    margin-top: 20px;
}



.tracking-in-contract-bck {
  animation: tracking-in-contract-bck 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/*  */

.galeria {
    height: 100vh;
    background-color: #E2DACA;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.cards {
    height: 600px;
    width: 400px;

    background-image: url("img/bdfe02d8589380dddb6ae84dcc708496.jpg");
    background-position: center;
    background-size: cover;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    position: relative;
    overflow: hidden;

    cursor: pointer;
}



.info {
    position: absolute;
    inset: 0;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;

    opacity: 0;

    transition: 0.4s;
}


.info::before {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.65);

    z-index: -1;
}


.cards:hover .info {
    opacity: 1;
}

.info h1 {
    width: 0;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;

    border-right: 2px solid white;

    opacity: 0;
}


.cards:hover .info h1 {
    opacity: 1;

    animation: escrever 1.5s steps(20) forwards;
}


@keyframes escrever {

    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}


.info p,
.info strong {
    opacity: 0;
    transform: translateY(20px);
}


.cards:hover .info p {
    animation: aparecer 0.5s forwards;
}


.cards:hover .info p:nth-of-type(1) {
    animation-delay: 1.2s;
}

.cards:hover .info p:nth-of-type(2) {
    animation-delay: 1.4s;
}

.cards:hover .info p:nth-of-type(3) {
    animation-delay: 1.6s;
}


.cards:hover .info strong {
    animation: aparecer 0.5s forwards;
    animation-delay: 1.9s;
}


@keyframes aparecer {

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: flex;
    width: max-content;
    animation: passar 20s linear infinite;
    background-color: #000;
}

.marquee-content span {
    font-size: 50px;
    font-weight: 600;
    margin-right: 60px;
    color: #fff;
}

@keyframes passar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}